<div id="content">
	<h2>Your chosen box is <%= session['game'].chosenbox %></h2>
	<h5>Selected boxes: </h5>
	[
	<% for box in session['game'].selectedboxes %>
		<%= box %> (<%= session['game'].sequence[box.to_i-1] %>)
	<% end %>
	]
	<br>
	<br>
	<h5>Please enter the number of the box you wish to open.</h5>
	<form  class="mb-4" action="/" method="post" id="edit">
		<select name="openbox">
		<% for i in session['available'] do %>
			<option value="<%= i %>"><%= i %></option>
		<% end %>
		</select>  
	    <input class="btn-info btn mt-2" type="submit" value="open">
	    <!-- <input type="hidden" name="_method" value="put" /> -->
	</form>
</div>