<table class="table table-condensed">
<tr>
    <th>Player Name</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>Player 1 is <%= $player1key %></td>
    <td><%= $player1value %></td>
  </tr>
  <tr>
    <td>Player 2 is <%= $player2key %></td>
    <td><%= $player2value %></td>
  </tr>
  <tr>
    <td>Player 3 is <%= $player3key %></td>
    <td><%= $player3value %></td>
  </tr>
  <tr>
    <td>Player 4 is <%= $player4key %></td>
    <td><%= $player4value %></td>
  </tr>
  <tr>
    <td>Player 5 is <%= $player5key %></td>
    <td><%= $player5value %></td>
  </tr>
</table>
